/* Master Styles */
body {
  margin: 2em;
  font-family: Arial, Helvetica, sans-serif; }
  body h1 {
    color: #369;
    font-size: 250%; }
  body h2, body h3 {
    color: #444;
    font-weight: lighter; }

/*# sourceMappingURL=main.css.map */
